@import "tailwindcss";

:root {
    font-family: "Poppins", serif;
}

* {
    box-sizing: border-box;
}

#root {
    background-color: #F8F8F8;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}